{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block css %}
<style>
    h2 {
         margin-top: 100px;
        padding: 35px;

      }
    input#id_username {
        width: 250px;
    }

    input#id_password {
        max-width: 250px;
    }
    .content {
        width: 50%;
        min-width: 250px;
        float: left;
    }
    .img-small {
        display: none;
    }
    @media screen and (max-width: 600px) {
        .img-big {
            display: none;
        }
        .img-small {
            display: inline;
        }
    }
    
</style>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">

    <div class="header-wrapper">
    <h2>Login</h2>
    </div>

    <!-- <style>
        h2 {
         margin-top: 100px;
        padding: 25px;

      }
        
        input#id_username {
            width: 250px; /* set the width of the username field */
            margin-left: 50px;
        }
        input#id_password {
        max-width: 250px;
            }
        
        
    </style> -->

<img src="\static\docWgranny.jpg" alt="doc image" style= "height:530px; width:660px; position:absolute; top:0; right:0; margin-top:56px;">


    
    <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }}
        
        <button class="btn btn-outline-primary" type="submit">Login</button>
    <h6> </h6>
    <h6>Don't have an account? <a href="http://127.0.0.1:8000/register/">Register</a></h6>
    </form>
</div>
{% endblock %}