{% extends 'base.html' %}

{% block title %}View medical personel{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
{% load static %}
<h1><img src="{% static '/user.png' %}" alt="" style="height: 40px;width: auto; margin-right: 10px;">View medical personel</h1>

<h6 class="mb-3">Here is a list of all medical personel in the system.</h6>
<ul class="list-group" style="width: max-content;">
    {% for med in personel %}
    <li class="list-group-item">{{ med.name }}, {{med.ID_nbr}}</li>
    {% endfor %}
</ul>
{% endblock %}