<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
  </head>

  <body style="margin:0;">
    <a href="">View or download your certificate</a>
    <table style="width:98vw; height:100px; margin: 0 1vw; max-width: 600px; color:black;">
        <tr>
            <td>
                <img style="height:90px; width:auto;" src="https://github.com/bechara-rizk/AUBCOVAX/blob/main/mysite/main/static/vaccine.png?raw=true" alt="">
            </td>
            <td><h3 align="center">AUBCOVAX Vaccine Certificate</h3></td>
            <td>
                <img style="height:90px; width:auto;" src="https://github.com/bechara-rizk/AUBCOVAX/blob/main/mysite/main/static/flag.jpg?raw=true" alt="">
            </td>
        </tr>
    </table>
    <table style="width:98vw; height:500px; margin: 0 1vw; border-spacing: 0; max-width: 600px; color:black;">
        <tr>
            <td style="width:33%; padding:0; border-top: black solid 2px;" align="center"><h4>Name</h4></td>
            <td style="width:67%; padding:0; border-top: black solid 2px; border-left: black solid 2px;" align="center"><h4>{{user.name}}</h4></td>
        </tr>
        <tr>
            <td style="width:33%; padding:0; border-top: black solid 2px;" align="center"><h4>ID Number</h4></td>
            <td style="width:67%; padding:0; border-top: black solid 2px; border-left: black solid 2px;" align="center"><h4>{{user.ID_nbr}}</h4></td>
        </tr>
        <tr>
            <td style="width:33%; padding:0; border-top: black solid 2px;" align="center"><h4>Date Of Birth</h4></td>
            <td style="width:67%; padding:0; border-top: black solid 2px; border-left: black solid 2px;" align="center"><h4>{{user.DOB}}</h4></td>
        </tr>
        <tr>
            <td style="width:33%; padding:0; border-top: black solid 2px;" align="center"><h4>First Dose</h4></td>
            <td style="width:67%; padding:0; border-top: black solid 2px; border-left: black solid 2px;" align="center"><h4>{{user.doseOneDate}}</h4></td>
        </tr>
        <tr>
            <td style="width:33%; padding:0; border-top: black solid 2px;" align="center"><h4>Second Dose</h4></td>
            <td style="width:67%; padding:0; border-top: black solid 2px; border-left: black solid 2px;" align="center"><h4>{{user.doseTwoDate}}</h4></td>
        </tr>
    </table>
  </body>
</html>
