{% extends 'base.html' %}


{% block title %}Patient Records{% endblock %}

{% block css %}
<style>
    .infopagecontainer {
        /* margin-top: 30px;  */
        padding: 15px;
    }

    h1 {
        margin-bottom: 20px;
        font-size: 30px;
    }
    .col,col-8{
        padding: 0;
      }
      .patientInfo > .col{
        border-top: 2px solid #000 !important;
        margin-left: 10px;
      }
      .patientInfo > .col-8{
        border-top: 2px solid #000 !important;
        border-left: 2px solid #000 !important;
        margin-right: 10px;
      }
      .container{
        max-width: 800px;
      }
</style>
{% endblock %}

{% block content %}
<div class="infopagecontainer">
    <h1>Patient Records</h1>
    <p>Username: {{ user }} </p>
    <p>Full Name: {{user.name}}</p>
    <p>ID: {{user.ID_nbr}}</p>
    <p>DOB: {{user.DOB}}</p>
    <p>Phone Number: {{user.phone_nbr}} </p>
    <p>Address: {{user.address}} </p>
    <p>Medical History: {{user.medical_history}} </p>
    {%if user.doseOne %}
    <p>Dose one date: {{user.doseOneDate}} </p>
    {%else%}
    <p>Dose one scheduled on: {{user.doseOneDate}} at {{user.doseOneTime}}</p>
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-sm btn-danger" style="margin-bottom: 1rem;" type="submit" name="postponeOne" value="one">I can't make it</button>
    </form>
    {% if slots %}
    <form method="POST">
        {% csrf_token %}
        <div class="list-group" style="width: max-content;">
            {% for slot in slots %}
            <button type="submit" class="list-group-item list-group-item-action" name="date1" value="{{slot}}">{{slot.split.0}} at {{slot.split.1}}</button>
            {% endfor %}
        </div>
    </form>
    {% endif %}
    {%endif%}

    {% if user.doseTwoDate == None %}
    <p>Dose two date: Not scheduled yet!</p>
    {% else %}
    {%if user.doseTwo %}
    <p>Dose one date: {{user.doseTwoDate}} </p>
    {%else%}
    <p>Dose two scheduled on: {{user.doseTwoDate}} at {{user.doseTwoTime}}</p>
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-sm btn-danger" style="margin-bottom: 1rem;" type="submit" name="postponeTwo" value="two">I can't make it</button>
    </form>
    {% if slots %}
    <form method="POST">
        {% csrf_token %}
        <div class="list-group" style="width: max-content;">
            {% for slot in slots %}
            <button type="submit" class="list-group-item list-group-item-action" name="date2" value="{{slot}}">{{slot.split.0}} at {{slot.split.1}}</button>
            {% endfor %}
        </div>
    </form>
    {% endif %}
    {%endif%}
    {% endif %}

    {% if user.doseOne and user.doseTwo %}
    <p>Certificate: 
        <a class="btn btn-sm btn-outline-primary" style="margin-right: 5px;" href="/viewCertificate">View</a>
        <button class="btn btn-sm btn-outline-primary" onclick="generatePDF()">Download</button>
    </p>
    <div style="display: none;">
        <div id="pdfgenerated" class="container">
            <div class="row" style="height:100px;">
                <div class="col" style="display: flex">
                    {% load static %}
                    <img src="{% static '/vaccine.png' %}" alt="" style="height:80px; width:auto; margin: 7.5px auto;">
                </div>
                <div class="col-8" style="display: flex;">
                    <h5 style="margin: auto;">AUBCOVAX Vaccine Certificate</h5>
                </div>
                <div class="col" style="display: flex">
                    {% load static %}
                    <img src="{% static '/flag.jpg' %}" alt="" style="width:auto; height:90px; margin: 0 auto;">
                </div>
            </div>
            <div class="row patientInfo" style="height:100px;">
                <div class="col" style="display: flex">
                    <h5 style="margin: auto;">Name</h5>
                </div>
                <div class="col-8" style="display: flex;">
                    <h5 style="margin: auto;">{{user.name}}</h5>
                </div>
            </div>
            <div class="row patientInfo" style="height:100px;">
                <div class="col" style="display: flex">
                    <h5 style="margin: auto;">ID Number</h5>
                </div>
                <div class="col-8" style="display: flex;">
                    <h5 style="margin: auto;">{{user.ID_nbr}}</h5>
                </div>
            </div>
            <div class="row patientInfo" style="height:100px;">
                <div class="col" style="display: flex">
                    <h5 style="margin: auto;">Date of Birth</h5>
                </div>
                <div class="col-8" style="display: flex;">
                    <h5 style="margin: auto;">{{user.DOB}}</h5>
                </div>
            </div>
            <div class="row patientInfo" style="height:100px;">
                <div class="col" style="display: flex">
                    <h5 style="margin: auto;">First Dose</h5>
                </div>
                <div class="col-8" style="display: flex;">
                    <h5 style="margin: auto;">{{user.doseOneDate}}</h5>
                </div>
            </div>
            <div class="row patientInfo" style="height:100px;">
                <div class="col" style="display: flex">
                    <h5 style="margin: auto;">Second Dose</h5>
                </div>
                <div class="col-8" style="display: flex;">
                    <h5 style="margin: auto;">{{user.doseTwoDate}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col" style="display: flex;">
                    <div id="qrcode" style="margin: 40px auto 0 auto;"></div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>Certificate only available after taking both doses!</p>
    {% endif %}
</div>
{% endblock %}

{% block js %}
<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
<script>
    function generatePDF() {
        const elem=document.getElementById('pdfgenerated');
        html2pdf().from(elem).save();
    }
    const qrcode = new QRCode(document.getElementById('qrcode'), {
  text: 'https://aubcovax6.pythonanywhere.com/verifyCertificate/{{user.id}}',
  width: 300,
  height: 300,
  colorDark : '#000',
  colorLight : '#fff',
  correctLevel : QRCode.CorrectLevel.H
});
</script>
{% endblock %}