{% extends 'base.html' %}


{% block title %}Patient Records{% endblock %}

{% block css %}
<style>
    .infopagecontainer {
        /* margin-top: 30px;  */
        padding: 15px;
    }

    h1 {
        margin-bottom: 20px;
        font-size: 30px;
    }
</style>
{% endblock %}

{% block content %}
<div class="infopagecontainer">
    <h1>Patient Records</h1>
    <p>Username: {{ user }} </p>
    <p>Full Name: {{user.name}}</p>
    <p>ID: {{user.ID_nbr}}</p>
    <p>DOB: {{user.DOB}}</p>
    <p>Phone Number: {{user.phone_nbr}} </p>
    <p>Address: {{user.address}} </p>
    <p>Medical History: {{user.medical_history}} </p>
    {%if user.doseOne %}
    <p>Dose one date: {{user.doseOneDate}} </p>
    {%else%}
    <p>Dose one scheduled on: {{user.doseOneDate}} at {{user.doseOneTime}}</p>
    {%endif%}

    {% if user.doseTwoDate == None %}
    <p>Dose two date: Not scheduled yet!</p>
    {% else %}
    {%if user.doseTwo %}
    <p>Dose one date: {{user.doseTwoDate}} </p>
    {%else%}
    <p>Dose two scheduled on: {{user.doseTwoDate}} at {{user.doseTwoTime}}</p>
    {%endif%}
    {% endif %}

    {% if user.doseOne and user.doseTwo %}
    <p>Certificate: </p>
    {% else %}
    <p>Certificate only available after taking both doses!</p>
    {% endif %}
</div>


{% endblock %}