<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Certificate | AUBCOVAX</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
    /* @page{
        size: a6 portrait;
    } */
      .col,col-8{
        padding: 0;
      }
      .patientInfo > .col{
        border-top: 2px solid #000 !important;
        margin-left: 10px;
      }
      .patientInfo > .col-8{
        border-top: 2px solid #000 !important;
        border-left: 2px solid #000 !important;
        margin-right: 10px;
      }
      body{
        width: 600px;
        height: 1000px;
      }
    </style>
  </head>

  <body>
    <div class="container-sm mb-4" style="background-color: white;">
        <div class="row" style="height:100px;">
            <div class="col" style="display: flex">
                <img src="mysite/main/static/vaccine.png" alt="" style="width:85px; height:85px; margin: 7.5px auto;">
            </div>
            <div class="col-8" style="display: flex;">
                <h4 style="margin: auto;">AUBCOVAX Vaccine Certificate</h4>
            </div>
            <div class="col" style="display: flex">
                {% load static %}
                <img src="{% static '/flag.jpg' %}" alt="" style="width:auto; height:100px; margin: 0 auto;">
            </div>
        </div>
        <div class="row patientInfo" style="height:100px;">
            <div class="col" style="display: flex">
                <h4 style="margin: auto;">Name</h4>
            </div>
            <div class="col-8" style="display: flex;">
                <h4 style="margin: auto;">{{name}}</h4>
            </div>
        </div>
        <div class="row patientInfo" style="height:100px;">
            <div class="col" style="display: flex">
                <h4 style="margin: auto;">ID Number</h4>
            </div>
            <div class="col-8" style="display: flex;">
                <h4 style="margin: auto;">{{id}}</h4>
            </div>
        </div>
        <div class="row patientInfo" style="height:100px;">
            <div class="col" style="display: flex">
                <h4 style="margin: auto;">Date of Birth</h4>
            </div>
            <div class="col-8" style="display: flex;">
                <h4 style="margin: auto;">{{dob}}</h4>
            </div>
        </div>
        <div class="row patientInfo" style="height:100px;">
            <div class="col" style="display: flex">
                <h4 style="margin: auto;">First Dose</h4>
            </div>
            <div class="col-8" style="display: flex;">
                <h4 style="margin: auto;">{{doseOneDate}}</h4>
            </div>
        </div>
        <div class="row patientInfo" style="height:100px;">
            <div class="col" style="display: flex">
                <h4 style="margin: auto;">Second Dose</h4>
            </div>
            <div class="col-8" style="display: flex;">
                <h4 style="margin: auto;">{{doseTwoDate}}</h4>
            </div>
        </div>
    </div>

    <script>

    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>
