{% extends 'base.html' %}


{% block title %}Verify Certificate{% endblock %}

{% block css %}
<style>
    .col,col-8{
        padding: 0;
      }
      .patientInfo > .col{
        border-top: 2px solid #000 !important;
        margin-left: 10px;
      }
      .patientInfo > .col-8{
        border-top: 2px solid #000 !important;
        border-left: 2px solid #000 !important;
        margin-right: 10px;
      }
      .container{
        max-width: 800px;
      }
        .first-row{
            height: 100px;
        }
      @media screen and (max-width: 800px){
        .first-row{
          height: 50px;
        }
    }
    h5{
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
{% if notFound %}
<h2>Account not found in database</h2>
{% else %}
{% if account.doseOne and account.doseTwo %}
<div id="pdfgenerated" class="container">
    <div class="row first-row">
        <div class="col" style="display: flex; height:100%">
            {% load static %}
            <img src="{% static '/vaccine.png' %}" alt="" style="height:85%; width:auto; margin: 7.5px auto;">
        </div>
        <div class="col-8" style="display: flex;">
            <h5 style="margin: auto; text-align: center;">AUBCOVAX Vaccine Certificate</h5>
        </div>
        <div class="col" style="display: flex; height: 100%;">
            {% load static %}
            <img src="{% static '/flag.jpg' %}" alt="" style="width:auto; height:90%; margin: 0 auto;">
        </div>
    </div>
    <div class="row patientInfo" style="height:100px;">
        <div class="col" style="display: flex">
            <h5 style="margin: auto;">Name</h5>
        </div>
        <div class="col-8" style="display: flex;">
            <h5 style="margin: auto;">{{account.name}}</h5>
        </div>
    </div>
    <div class="row patientInfo" style="height:100px;">
        <div class="col" style="display: flex">
            <h5 style="margin: auto;">ID Number</h5>
        </div>
        <div class="col-8" style="display: flex;">
            <h5 style="margin: auto;">{{account.ID_nbr}}</h5>
        </div>
    </div>
    <div class="row patientInfo" style="height:100px;">
        <div class="col" style="display: flex">
            <h5 style="margin: auto;">Date of Birth</h5>
        </div>
        <div class="col-8" style="display: flex;">
            <h5 style="margin: auto;">{{account.DOB}}</h5>
        </div>
    </div>
    <div class="row patientInfo" style="height:100px;">
        <div class="col" style="display: flex">
            <h5 style="margin: auto;">First Dose</h5>
        </div>
        <div class="col-8" style="display: flex;">
            <h5 style="margin: auto;">{{account.doseOneDate}}</h5>
        </div>
    </div>
    <div class="row patientInfo" style="height:100px;">
        <div class="col" style="display: flex">
            <h5 style="margin: auto;">Second Dose</h5>
        </div>
        <div class="col-8" style="display: flex;">
            <h5 style="margin: auto;">{{account.doseTwoDate}}</h5>
        </div>
    </div>
</div>
{% else %}
<h2>Account not fully vaccinated.</h2>
{% endif %}
{% endif %}
{% endblock %}